#yaddaContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1.5;
  margin: 0 7px 0 7px;
}
#yaddaContainer a {
  margin-right: 1%;
}

#yaddaContainer a[tabindex]:focus {
  color: tomato;
  outline: none;
}

#timelineHeaders {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding-top: 8px;
  margin-top: 10px;
}

.column {
  flex-grow: 1;
}

main {
  display: flex;
  background-color: #e3e3e3;
}

.avatarYadda {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 45px;
}

#userAvatar {
  margin-top: 20px;
  margin-right: 25px;
}

#createYaddaText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarReply {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
}

.imageYadda {
  max-width: 840px;
  object-fit: cover;
}

.yadda {
  background-color: white;
  margin-bottom: 2px;
  padding: 30px;
  display: flex;
}

.avatar {
  flex-grow: 0;
  margin-right: 25px;
}

.yaddaPost {
  flex-grow: 1;
}

.yaddaName {
  font-weight: bold;
  font-size: 20px;
}

.yaddaTag {
  color: #2d6ab9;
}

.navigation {
  display: none;
}

.navigationYadda,
.logo,
#postContainer {
  height: 150px;
  background-color: white;
}

.navigationYadda,
.logo {
  padding-bottom: 2%;
}

.navigationYadda ul {
  margin: 0;
}

#yaddaText {
  border: none;
  width: 100%;
  padding: 0;
  height: 60px;
}

#adds {
  text-align: center;
  color: white;
}

#yaddaForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#yaddaForm {
}

#postContainer {
  display: flex;
  background-color: white;
  padding: 0 30px 8px 30px;
}

#yaddaButton {
  margin: 0;
  align-self: flex-end;
}

#yaddaPic,
#yaddaTag {
  align-self: flex-start;
}

#trendDiv,
#followDiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
}

#followDiv {
  margin-bottom: 2%;
}

#image-upload:hover,
::-webkit-file-upload-button:hover {
  cursor: pointer;
}

::-webkit-file-upload-button {
  background-image: url(../images/picture_icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
  background-color: white;
  color: transparent;
  border: none;
}
