#yaddaContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1.5;
  margin: 0 7px 0 7px;
}
#yaddaContainer a {
  margin-right: 1%;
}

#yaddaContainer a[tabindex]:focus {
  color: tomato;
  outline: none;
}

#timelineHeaders {
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding-top: 8px;
  margin-top: 10px;
}

.column {
  flex-grow: 1;
}

main {
  display: flex;
  background-color: #e3e3e3;
}

.avatarYadda {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 45px;
}

#userAvatar {
  margin-top: 20px;
  margin-right: 25px;
}

#createYaddaText {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatarReply {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 12px;
}

.imageYadda {
  max-width: 840px;
  object-fit: cover;
}

.yadda {
  background-color: white;
  margin-bottom: 2px;
  padding: 30px;
  display: flex;
}

.avatar {
  flex-grow: 0;
  margin-right: 25px;
}

.yaddaPost {
  flex-grow: 1;
}

.yaddaName {
  font-weight: bold;
  font-size: 20px;
}

.yaddaTag {
  color: #2d6ab9;
}

.navigation {
  display: none;
}

.navigationYadda,
.logo,
#postContainer {
  height: 150px;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 137px;
  height: 137px;
}

.navigationYadda ul {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

#yaddaText {
  border: none;
  width: 100%;
  padding: 0;
  height: 60px;
}

#adds {
  text-align: center;
  color: white;
}

#yaddaForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#yaddaForm {
}

#postContainer {
  display: flex;
  background-color: white;
  padding: 0 30px 8px 30px;
}

#yaddaButton {
  margin: 0;
  align-self: flex-end;
}

#yaddaPic,
#yaddaTag {
  align-self: flex-start;
}

#trendDiv,
#followDiv {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
}

#followDiv {
  margin-bottom: 2%;
  margin-top: 10px;
}

#image-upload:hover,
::-webkit-file-upload-button:hover {
  cursor: pointer;
}

::-webkit-file-upload-button {
  background-image: url(../images/picture_icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 34px;
  width: 34px;
  background-color: white;
  color: transparent;
  border: none;
}

.reply {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #c8c8c8;
  padding: 10px;
}

.replyName {
  font-weight: bold;
  margin-bottom: 2px;
}

.replies {
}

.userFollow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c8c8c8;
  padding: 5px 0 5px 0;
}

.users, .followButton{
    margin-bottom: 0;
}

.followButton{
    margin-right: 10px;
    background-color: white;
    border: 3px solid #5B88C2;
    color: #5B88C2;
}

.followButton:hover{
    background-color: #5B88C2;
    color: white;
}
